/* regole generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
}
/* regole header */

header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
    width: 100%;
    background-color: #0084fd;


}

.row{
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.container{
    width: 90%;
    margin: 0 auto;


}
.menu.desktop{
    display: none
}
/* menu desktop */
@media screen and (min-width:1024px){
    .menu.desktop{
        display: block;

    }
    .menu.mobile{
        display: none;
    }
}

/* regole main */
/* sezione developer  */
#developer{
    padding-top: 80px;

}
.col{
    margin-bottom: 20px;
}


/* sezione developer */
@media screen and (min-width:768px) {
    .col{
        width:calc(100% / 3 * 2 - 20px)

    }
    .col.app{
        width:calc(100% / 3 - 20px)

    }
    #developer .container{
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        justify-content: space-between;

    }

}

/* sezione plannig*/
#planning{ 
    background-color: #9792e4;
    min-height: 300px;
}
.plan{ 
    width: 100%;
    margin-bottom: 20px;
}
/* plan versione desktop */
@media screen and (min-width: 1024px) {
    #planning .container{ 
        display: flex;
        gap: 20px;
        width: 70%;
        margin: 0 auto;
    }
   
}

/* sezione testimonials */
.square{ 
    width: 100%;
    margin-bottom: 20px;
}

/* sezione benefit */
#benefit{ 
    background-color: #9792e4;
    min-height: 500px;
}

.card{ 
    width: 100%;
    margin-bottom: 20px;
}

/* versione tablet benefit */
@media  screen and (min-width:768px) {
    #benefit .container{ 
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .card{ 
        width:calc(100% / 2 - 20px)
    }
}

/* versione desktop benefit */
@media screen and (min-width:1024px){
    .card{ 
        width:calc(100% / 3 - 20px)
    }
}




/* sezione about */
.text.about, .photo.about{ 
    margin-bottom: 20px;
    width: 100%;
}
/* versione tablet */
@media  screen and (min-width:768px) {
    #about .container{ 
        display: flex;
        gap: 20px;
        justify-content: space-between;
       
        
    }

    
}
/* versione desktop */

@media  screen and (min-width:1024px) {
    #about .container{ 
        display: flex;
        gap: 20px;
        width: 75%;
        margin: 0 auto;
       
        
    }

    
}
/* sezione start */

#start{ 
    background-color: #9792e4;
}

/* footer */
footer{
    background-color:#333333;
}
.text-footer{ 
    padding:20px;
    text-align: center;
}
/* versione tablet */

@media screen and (min-width:768){
    .text-footer{ 
        font-size: 1.2rem;
    }
}


/* regole generali desktop */

@media screen and (min-width:1024px){
    .container{ 
        width: 80%;
        margin: 0 auto;
    }
}

/* DEBUG */

.logo{
    background-color: blueviolet;
    width: 100px;
    height: 50px;
}
.menu.desktop{
    background-color:yellow;
    width: 100px;
    height: 50px;
}
.menu.mobile{
    background-color:green;
    width: 50px;
    height: 50px;
}

.developer{
    display: flex;
}
.col{
    background-color: aqua;

    height: 100px;
}

.col.app{
    background-color: black;

    height: 100px;
}

.plan{ 
    background-color: red;
    
    height: 200px;
    border: solid 2px black;
}
/* testimonials */
.square{ 
    background-color:blue;
    height: 100px;
    border: solid 2px black;
    
}
/* sezione card */
.card{ 
    background-color: burlywood;
    height: 200px;
    border: solid 2px black;
}
/* sezione about us */

.text.about{ 
    background-color:olive;
    height: 200px;
    border: solid 2px black;
   
}
.photo.about{ 
    background-color: orange;
    height: 200px;
    border: solid 2px black;
   
}

/* sezione start */

.text-start{ 
    background-color:purple;
    height: 200px;
    border: solid 2px black;
    width: 200px;
}